.header-toolbar {
  display: flex;
  justify-content: center;
  gap: 10%;
  background-color: #dcdcdc;
  padding: 10px 0;
  color: white;
  border-radius: 5px;
}

button.active {
  background-color: #673ab7;
  color: white;
}

button:hover {
  background-color: rgba(103, 58, 183, 0.8);
}
